/* html{box-sizing:border-box;margin:0; padding: 0; };
*,
*:before,
*:after{ box-sizing:inherit; }

:root {
	--highlight-colour: rgb(255, 148, 148);
}

#head {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

#head img {
	width: 100px;
	height: 100px;
	
	padding-left: 2em;
	padding-top: 1.5em;
}

h1 {
	font-size: 4em;
	font-family: Sans-Serif;
	padding-bottom: 0em;
	margin-bottom: 0em;
}

p {
	margin: 0;
	
	font-size: 1.2em;
	font-family: Sans-Serif;
	
	line-height: 1.3em;
}

#hi {
	line-height: 1em;
}

.faded {
	color: var(--highlight-colour);
}

#liame {
	padding-left: 1.5em;
}

.left-shifted {
	margin: 0em 2em 0em 1.5em;
	width: 60%;
}


@media all and (max-width: 400px) {
	.left-shifted {
		width: 60%;
	}
}

@media all and (min-width: 900px) {
	.left-shifted {
		width: 60%;
	}	
} */